body {
  font: 16px Arial, sans-serif;
  background-image: url("https://raw.githubusercontent.com/petyak115/court-proceedings/main/bg3.jpg");
  color:  #0b4d8f;
} 
.header {
	position: absolute;
   top: 0;
   width: 100%;
   margin: 0;
   height: 170px;
   background-size: 100%;
   text-align: center;
   
   left: 0px;
   margin-left: 0;   
   color: black;
   font-size: 14px;
}
.hidden{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.hidden:hover {
    background-color: #008CBA;
    color: white;
    border: 2px solid white;
}

.navig{
	margin-top: 100px;
	position: relative;
	text-align: center;
	font-size: 12px;
}
	
input[type=button], input[type=submit], input[type=reset] {
  background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
input[type=button]:hover{
    background-color: #008CBA;
    color: white;
}

#foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
  color: black;
  text-align: center;
}

.requesth {
	margin-top: 170px;
}
